@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-dark-clr: hsl(185, 75%, 39%);
  --primary-very-dark-clr: hsl(229, 23%, 23%);
  --primary-gray-clr: hsl(227, 10%, 46%);
  --neutral-gray-clr: hsl(0, 0%, 59%);

  --ff: "Kumbh Sans", Sans-Serif;
  --fs: 1.125rem;
  --fw-bold: 700;
  --fw-light: 400;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
}

.wrapper {
  min-height: 100vh;
  background: url(./images/bg-pattern-top.svg) no-repeat 45vw 45vh,
    url(./images/bg-pattern-top.svg) no-repeat right 45vw bottom 45vh;
  background-color: var(--primary-dark-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: url(./images/bg-pattern-card.svg) no-repeat, #fff;
  min-width: 21.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  box-shadow: 1px 1px 20px hsl(227, 10%, 46%);
}

.photo {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.photo img {
  border-radius: 50%;
  border: 5px solid #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0.04rem;
}

.about :nth-child(1) {
  font-weight: var(--fw-bold);
}

.about span {
  color: var(--neutral-gray-clr);
  font-weight: var(--fw-light);
  margin-left: 0.3rem;
}

.about :nth-child(2) {
  font-size: 0.8rem;
  color: var(--primary-gray-clr);
}

hr {
  height: 0.01px;
  border-color: hsla(0, 0%, 59%, 0.151);
}

.social-numbers {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.social-numbers {
  font-weight: var(--fw-bold);
}

.social-numbers p {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  font-weight: var(--fw-light);
  color: var(--primary-gray-clr);
}
